@import "../../scss/Main";


.login {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 100vh;
    width: 100vw;
    background-image: url("../../assets/photo/pexels-alberlan-barros-7311920.jpg");
    background-size: cover;
    font-family: $font-orbitron;
    &__box {
      display: flex;
      justify-content: center;
      margin: 2rem;
      flex-direction: column;
      &-h1 {
        align-self: flex-start;
        margin: 1.5rem 0;
        color: $color-text-white;
      }
      form {
        display: flex;
        flex-direction: column;
        button {
          align-self: center;
          margin: 1.5rem;
        }
      }
      p {
        color: $color-text-white;
        font-size: $font-size-S;
      }
      a {
        color: $color-sea;
        text-decoration: none;
      }
      .btnReturn {
        align-self: flex-end;
      }
    }
  }
  
  @media only screen and (min-width: $breakpointM) {
    .login {
      align-items: center;
      &__box {
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  @media only screen and (min-width: $breakpointL) {
    .login {
      align-items: center;
      &__box {
        align-items: center;
        justify-content: center;
        p {
          color: $color-text-white;
          font-size: $font-size-M;
        }
      }
    }
  }
  