@import "../../scss/Main";

p {
  color: azure;
}

.albumNasa {
  display: flex;
  justify-content: center;
  width: 100vw;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100vw;
    &-title {
      color: white;
      font-size: $font-size-L;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img {
      &--photo {
        margin: 10px;
        background-color: black;
        width: 80vw;
        height: 80vw;
        object-position: center;
      }
    }

    &-text {
      text-align: justify;
    }

    button {
      margin: 10px 0;
      align-self: flex-end;
    }
  }
}

@media only screen and (min-width: $breakpointL) {
  .albumNasa {
    &__box {
      &-title {
        color: white;
        font-size: $font-size-L;
        width: 70vw;
      }

      &-img {
        &--photo {
          margin: 10px;
          background-color: black;
          width: 15rem;
          height: 15rem;
          object-position: center;
        }
      }


      &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (min-width: $breakpointL) {
  .albumNasa {
    &__box {
      width: 70vw;
      &-title {
      }

      &-img {
      }
    }

    &-content {
    }
  }
}

@media only screen and (min-width: $breakpointXL) {
  .header {
    &__box {
      width: 70vw;
    }
  }
}
