$color-text-white:#FFFFFF;
$color-bg-white:#FFFFFF;
$color-dark-purple:#2E069E;
$color-blue:#11478F;
$color-sea:#12B3A0;
$color-green:#078F1B;
$color-khaki:#6B9107;
$color-text-black: black;
$color-error: rgb(187, 31, 31);
$color-buttonPrimary-hover:transparent linear-gradient(180deg, #1E0094 0%, #11478F 100%);
$color-buttonPrimary:transparent linear-gradient(180deg, #11478F 0%, #1E0094 100%);
$color-buttonSecondary:transparent linear-gradient(180deg, #948509 0%, #777137 100%);
$color-buttonDisabled:transparent linear-gradient(180deg, #B1B1B1 0%, #818181 100%);

