$font-size-XXS:0.65rem;
$font-size-XS:0.8rem;
$font-size-S: 1rem;
$font-size-M: 1.25rem;
$font-size-L: 1.5rem;
$font-size-XL: 2rem;
$font-size-XXL: 2.25rem;
$font-size-h1BigHeader: 4.5rem;
$font-size-h1SmallHeader: 3rem;

$font-orbitron: 'Orbitron', sans-serif;