@import "../../scss/Main";

.randomImage{
color: $color-sea;
    background-color: $color-text-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form{
        display: flex;
        flex-direction: column;
    }
    
}



    #demo-helper-text-misaligned-no-helper{
        
    }