@import "../../scss/Main";

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 70vw;
    min-height: 40vh;
    background-image: url("../../assets/video/video [MConverter.eu].webp");
    background-size: cover;
    background-position: center;
    font-family: $font-orbitron;
    text-shadow: 0px 0px 1px $color-text-black;

    h1 {
      color: $color-text-white;
    }
    .header__span {
      color: $color-sea;
    }
  }
}


