@import "../../scss/Main";

.albumPage{
&__box{
   width: 100vw;
   flex-direction: column;
display: flex;
justify-content: center;
align-items: center; 
img{
    width: 80vw;
    height: 80vw;
    object-position: center;
}

}

}
.secondAlbum{
    

&__box{
    align-items: center;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

}




@media only screen and (min-width: $breakpointXL) {
    .secondAlbum {
      width: 70vw;
      img{
    width: 21vw;
    height: 21vw;
    object-position: center;
}
    }
  }