@import "../../scss/Main";

.secondAlbum {
  // margin: 2rem;
  display: flex;
  justify-content: center;

  .btnReturn {
    margin: 1rem;
    align-self: flex-end;
  }

  &__box {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-album {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      &--title {
        margin-top: 1rem;
        font-size: $font-size-M;
        color: $color-text-white;
      }
    }
  }

  img {
    width: 70vw;
    height: 70vw;
    object-position: center;
    object-fit: cover;
    
  }
}

@media only screen and (min-width: $breakpointM) {
  .secondAlbum {
    img {
      width: 40vw;
      height: 40vw;
    }
  }
}

@media only screen and (min-width: $breakpointL) {
  .secondAlbum {
    img {
      width: 26vw;
      height: 26vw;
    }
  }
}

@media only screen and (min-width: $breakpointXL) {
  .secondAlbum {
    &__box {
      width: 70vw;
    }

    img {
      width: 21vw;
      height: 21vw;
    }
  }
}
